@import '../../utils';
@mixin flex {
  display: flex;

  align-items: center;
}
.slider {
  height: 100%;
}

.conjunto {
  height: 100%;
  position: relative;
  width: 100%;
  background: transparent;
  @include flex();
  flex-direction: column;
}

.servicios-slider {
  bottom: 10%;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  width: 95%;
  height: 20%;
  margin: auto;
  text-align: center;
  grid-column-gap: em(20);
  position: absolute;
  z-index: 5000;

  .servicio-slider {
    height: 100%;
    @include flex();
    justify-content: center;
    h3 {
      cursor: pointer;
      &:hover {
        color: #ffffff;
      }
    }
  }
}

.servicio {
  display: none;
  background: #68a8de;
  width: 95%;
  height: 100%;
}
.servicio.servicio-activo {
  animation-duration: 1.5s;
  animation-name: servicio-aparicion;
  display: flex;
  height: 80%;
  .servicio-texto {
    @include flex();
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60%;
    display: flex;
    text-align: center;
    h4 {
      font-size: em(40);
      color: #ffffff;
    }
    p {
      color: #ffffff;
      font-size: em(20);
    }
  }
  .servicio-imagen {
    width: 40%;
    height: 100%;
    @include flex();
    justify-content: center;
    img {
      width: 50%;
    }
  }
}

@keyframes servicio-aparicion {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
