@import './slider';

$colorPrimario: #68a8de;
$colorPrimarioHover: #2a70aa;
$colorSecundario: #e5244a;
$colorSecundarioHover: #b60c2e;
$sombra: rgba(0, 0, 0, 0.25);

section.inicio.azul {
  background: $colorPrimario;
}
section.inicio {
  font-size: 16px;
  width: 100%;
  height: calc(100vh - 65px);
  min-height: calc(100vh - 65px);
  position: relative;
  h2 {
    color: $colorPrimario;
    font-size: 3.75em;
    text-align: center;
    line-height: 2em;
  }
  h2.azul {
    color: #ffffff;
  }
  .TabLink {
    i {
      font-size: 50px;
      height: 50px;
      width: 50px;
      position: absolute;
      bottom: 10px;
      left: calc(50% - 25px);
      color: $colorSecundario;
      transition: all ease 0.3s;
      cursor: pointer;
    }
    &:hover i {
      color: $colorSecundarioHover;
    }
  }
}
.slider {
  background: $colorPrimario;
}
.logos-clientes {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #cccccc;
  color: #000000;
  width: 80%;
  height: 60%;
  margin: 1.875em auto;
}
.tarjetas {
  display: grid;
  grid-gap: 1.25em;
  grid-template-columns: repeat(3, 1fr);
  width: 95%;
  margin: auto;
  height: 400px;
}
.card {
  cursor: pointer;
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  position: relative;
}
.front,
.back {
  font-size: 16px;
  overflow: hidden;
  padding: 1.25em 1.875em;
  box-shadow: 0px 0px 6px $sombra;
  backface-visibility: hidden;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
  width: 100%;
  text-align: center;
  border-radius: 1.25em;
  transition: transform 0.6s linear;
  p {
    margin: 1.5625em auto;
    width: 90%;
  }
}
.front img {
  display: block;
  margin: auto;
}
.front {
  transform: perspective(37.5rem) rotateY(0deg);
  h3 {
    color: $colorSecundario;
    font-size: 1.5625em;
    text-align: center;
  }
}
.back {
  background: #f7f7f7;
  transform: perspective(37.5rem) rotateY(180deg);
  h3 {
    color: $colorPrimario;
    font-size: 1.875em 1.5625em;
  }
  p {
    font-size: 0.8125em 1.5625em;
  }
}
.back-content {
  width: 100%;
  text-align: center;
}
.card:hover > .front.doble {
  transform: perspective(600px) rotateY(-180deg);
}
.card:hover > .back {
  transform: perspective(600px) rotateY(0deg);
}

.tarjeta-necesidad {
  color: $colorPrimarioHover;
  width: 100%;
  display: block;
  margin-top: 1.25em 1.5625em;
}

.tarjeta-contacto {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 1em 1.5625em;
  padding: 0.625em 1.5625em;
  background: $colorPrimario;
  border-radius: 10000px;
  color: #ffffff;
  text-decoration: none;
  font-weight: bold;
  box-shadow: 1px 1px 3px $sombra;
  transition: all ease 0.3s;
  margin: 0.625em 1.5625em 0;
  span {
    font-size: 1em;
  }
  i {
    font-size: 1.9em;
    margin-right: 0.25em 1.5625em;
  }
  &:hover {
    background: $colorPrimarioHover;
  }
}
/*@media screen and (max-width: 1140px) {
  .tarjetas {
    height: 450px;
  }
}*/
@media screen and (max-width: 1024px) {
  /*15*/
  section.inicio {
    font-size: 15px;
    .TabLink {
      i {
        font-size: 50px;
        height: 50px;
        width: 50px;
        bottom: 10px;
        left: calc(50% - 25px);
      }
    }
  }
  .slider {
    font-size: 15px;
  }
  .logos-clientes {
    font-size: 15px;
  }
  .tarjetas {
    font-size: 15px;
    p {
      margin: 1.25em auto;
      width: 95%;
    }
  }
  .card {
    font-size: 15px;
  }
  .front,
  .back {
    font-size: 15px;
    padding: 0.625rem 1.25rem;
  }

  .tarjeta-necesidad {
    font-size: 15px;
  }

  .tarjeta-contacto {
    font-size: 15px;
  }
}
@media screen and (max-width: 768px) {
  /*14*/
  section.inicio {
    font-size: 14px;
    .TabLink {
      i {
        font-size: 50px;
        height: 50px;
        width: 50px;
        top: 10px;
        left: 10px;
      }
    }
  }
  .slider {
    font-size: 14px;
  }
  .logos-clientes {
    font-size: 14px;
  }
  .tarjetas {
    font-size: 14px;
  }
  .card {
    font-size: 14px;
  }
  .front,
  .back {
    font-size: 14px;
  }

  .tarjeta-necesidad {
    font-size: 14px;
  }

  .tarjeta-contacto {
    font-size: 14px;
  }
}
@media screen and (max-width: 650px) {
  /*13*/
  section.inicio {
    font-size: 13px;
    height: auto;
    min-height: 80vh;
    .TabLink {
      display: none;
    }
  }
  .slider {
    font-size: 13px;
  }
  .logos-clientes {
    font-size: 13px;
  }
  .tarjetas {
    font-size: 13px;
    grid-template-columns: 1fr 1fr;
    height: 650px;
  }
  .card {
    font-size: 13px;
  }
  .front,
  .back {
    font-size: 13px;
  }

  .tarjeta-necesidad {
    font-size: 13px;
  }

  .tarjeta-contacto {
    font-size: 13px;
  }
  .logos-clientes {
    height: 50vh;
  }
}
@media screen and (max-width: 500px) {
  /*12*/
  section.inicio {
    font-size: 12px;
  }
  .slider {
    font-size: 12px;
  }
  .logos-clientes {
    font-size: 12px;
  }
  .tarjetas {
    font-size: 12px;
    grid-template-columns: 1fr;
  }
  .card {
    font-size: 12px;
  }
  .front,
  .back {
    font-size: 12px;
  }

  .tarjeta-necesidad {
    font-size: 12px;
  }

  .tarjeta-contacto {
    font-size: 12px;
  }
}
@media screen and (max-width: 420px) {
  /*11*/
  section.inicio {
    font-size: 11px;
  }
  .slider {
    font-size: 11px;
    height: 50vh;
  }
  .logos-clientes {
    font-size: 11px;
  }
  .tarjetas {
    font-size: 11px;
  }
  .card {
    font-size: 11px;
  }
  .front,
  .back {
    font-size: 11px;
  }

  .tarjeta-necesidad {
    font-size: 11px;
  }

  .tarjeta-contacto {
    font-size: 11px;
  }
}
@media screen and (max-width: 350px) {
  /*10*/
  section.inicio {
    font-size: 10px;
  }
  .slider {
    font-size: 10px;
  }
  .logos-clientes {
    font-size: 10px;
  }
  .tarjetas {
    font-size: 10px;
  }
  .card {
    font-size: 10px;
  }
  .front,
  .back {
    font-size: 10px;
  }

  .tarjeta-necesidad {
    font-size: 10px;
  }

  .tarjeta-contacto {
    font-size: 10px;
  }
}
